<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{createSub.title}"></title>
</head>
<body>
<div th:insert="~{index :: languageChange}"></div><br>

<h2 th:text="#{createSub.h2}"></h2>

<form action="/newSub" method="post" th:object="${task}">
    <input type="hidden" name="corsTask" th:value="*{id}">
    <label for="title" th:text="#{form.formTitle}"></label><br>
    <input type="text" id="title" name="title" value=""><br>
    <label for="description" th:text="#{form.description}"></label><br>
    <input type="text" id="description" name="description" value=""><br>
    <input type="submit" th:value="#{createSub.button}">
</form>

</body>
</html>
