<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{taskForm.title}"></title>
</head>
<div th:include="header.html"></div>
<body>
<div th:insert="~{index :: languageChange}"></div><br>

<h2 th:text="#{taskForm.h2}"></h2>
<form action="/new" method="post">
    <label for="title" th:text="#{form.formTitle}"></label><br>
    <input type="text" id="title" name="title" value=""><br>
    <label for="description" th:text="#{form.description}"></label><br>
    <input type="text" id="description" name="description" value=""><br>
    <label for="date" th:text="#{form.dueDate}"></label><br>
    <input type="datetime-local" id="date" name="dueDate" value=""><br>
    <input type="submit" th:value="#{taskForm.button}">
</form>

</body>
</html>
