<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{taskDetail.title}"></title>
</head>
<body>
<div th:insert="~{index :: languageChange}"></div>
<br>
<h2 th:text="#{taskDetail.h2}"></h2>
<table th:object="${detail}">
    <tr>
        <th th:text="#{form.formTitle}"></th>
        <td th:text="*{title}"></td>
    </tr>
    <tr>
        <th th:text="#{form.description}"></th>
        <td th:text="*{description}"></td>
    </tr>
    <tr>
        <th th:text="#{form.dueDate}"></th>
        <td th:text="*{dueDateFormatted}"></td>
    </tr>
</table>
<div th:if="${detail.subtasks != null}">
    <ul th:each="sub : ${detail.subtasks}">
        <li th:text="${sub.title + ': ' + sub.description}"></li>
    </ul>
</div>
</body>
</html>